@page "/about"

<PageTitle>Last Couple Out</PageTitle>

<div class="container-md">
    <br />
    <h1>About</h1>
    <br />
    <h4>Application icon</h4>
    <p>Change by CC0hort from <a href="https://thenounproject.com/icon/change-6278200/" target="_blank">Noun Project</a> (CC BY 3.0).</p>
</div>
