@page "/"

<PageTitle>Last Couple Out</PageTitle>

<div class="container-md">
    <br />
    <h1>Welcome to Last Couple Out!</h1>
    <br />
    <p>This application is currently only an ongoing learning project for .NET Blazor.</p>

    <p>Read more on <a href="https://github.com/jonasbarka/last-couple-out" target="_blank">Github</a>.</p>
</div>
